*,
*:after,
*:before {
    box-sizing: border-box;
    border: 1px solid #f5f50e;
    font-family: 'Poppins', sans-serif;
}

p {
    color: #5c5959;
}

a {
    text-decoration: none;
    color: white;
}

.btn-main {
    width: 130px;
    border-radius: 40px;
    padding: 10px;
    font-size: 12px;
    color: white;
    transition: background-color linear 0.2s;
}

.color-word {
    color: #F28123;
}

.section-title {
    font-size: 45px;
    font-weight: bolder;
}


img {
    max-width: 100%;
    width: 100%;
}

.btn-add-to-card {
    background-color: #F28123;
    transition: background-color, color ease-out 5ms;
}

.btn-add-to-card:hover {
    background-color: black;
    color: #F28123;
}


.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.head .head-navigation {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: space-between;
}

.head .img-logo {
    width: 140px;
}

.head .icon-head {
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.head .icon-basket {
    padding-right: 15px;
}

.head a {
    transition: color linear 0.2s;
}

.head a:hover {
    color: #F28123;
}

.head .head-navigation .menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 15px;
    width: 50%;
    font-size: 13px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif
}

.head .menu li:first-child a {
    color: #F28123;
}

.wrapper {
    background: url("../img/hero-bg.jpg") center center no-repeat fixed;
    height: 100vh;
    background-size: cover;
}

.wrapper .banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .banner-opacity {
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background-color: rgba(7, 33, 46, 0.6)
}

.wrapper .banner-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .banner-content h3 {
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.wrapper .banner-content h1 {
    font-size: 64px;
    color: #fff;
}

.wrapper .btn-fruit-collection {
    background-color: #F28123;
}

.wrapper .btn-contact {
    background: rgba(255, 255, 255, 0);
    border: #F28123 2px solid;
}

.wrapper .btn-fruit-collection:hover {
    background-color: #020202;
    color: #F28123;
}

.wrapper .btn-contact:hover {
    background-color: #F28123;
}

.list-all-information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    background-color: #f5f5f5;
}

.list-all-information .list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px;
}

.list-all-information .icon-border {
    width: 50px;
    height: 50px;
    border: #F28123 dotted 2px;
    border-radius: 999px;
    font-size: 25px;
    color: #F28123;
    text-align: center;
    line-height: 50px;
}

.list-all-information .all-inform {
    padding-left: 15px;
}

.list-all-information .all-inform h4 {
    font-weight: bold;
    font-size: 17px;
}

.list-all-information .all-inform p {
    font-size: 13px;
    margin-top: 5px;
}

.list-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-products .list-products-inform {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
    align-items: center;
    padding-top: 100px;
}

.list-products .list-products-inform p {
    font-size: 14px;
    text-align: center;
}

.list-products .product-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.list-products .about-product-box {
    max-width: 300px;
    box-shadow: 1px 0px 14px 7px rgba(196, 207, 206, 1);
    margin: 60px 30px 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow ease-out 0.5s;
}

.list-products .about-product-box:hover {
    box-shadow: none;
}

.list-products .about-product-box p {
    padding: 15px;
}

.list-products .price-product,
.name-product {
    color: black;
    font-size: 40px;
}


.section-product-promotion {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f5f5f5;
    height: 600px;
    margin-top: 80px;
}

.section-product-promotion .container-promotion-info {
    display: flex;
    width: 70%;
    background-color: #f5f5f5;
    padding-top: 100px;
}

.section-product-promotion .img-product-promotion {
    position: relative;
    width: 900px;
}

.section-product-promotion .store-promotion-price {
    width: 100px;
    height: 100px;
    background-color: #f49b49;
    border-radius: 999px;
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-product-promotion .product-promotion-inform p {
    margin: 30px 0;
    font-size: 14px;
    line-height: 1.5em;
}

.section-product-promotion .store-promotion-price .store-other-price {
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: #F28123;
    border-radius: 999px;
    font-size: 0.8rem;
}

.section-product-promotion .box-time {
    display: flex;
    margin-bottom: 20px;
}

.section-product-promotion .box-time p {
    margin-top: 10px;
}

.section-product-promotion .product-promotion-inform .time-action {
    width: 80px;
    height: 80px;
    border: #F28123 2px solid;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-product-promotion .time-action .color-word {
    font-size: 2rem;
}