.border {
    border-radius: 4px;
}

.wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-color: blueviolet;
    border-radius: 15px;
    background-color: #e7c6ea;
    box-shadow: 0px 0px 8px 6px rgba(74, 11, 238, 0.2);
}

.container {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-text {
    border-color: aliceblue;

}

.add {
    background-color: #85aad7;
    color: #1d0106;
}

.del {
    background-color: #8d4eb6;
    color: #020626;
}

li {
    border: #2b0350 1px solid;
    margin: 0 10px 10px;
    color: #2b0350;
}
.add-background{
    background-color: #c8a8e8;
}