.wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-color: blueviolet;
    border-radius: 15px;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #c4bfbf;
}

.user-text {
    border-color: aliceblue;

}

.add {
    background-color: #eff2f6;
    color: #1d0106;
}

.del {
    background-color: #f6f1f8;
    color: #020626;
}

.box-list {
    background-color: #d5d0d0;
}

li {
    border: #908993 1px solid;
    border-radius: 2px;
    margin: 0 10px 10px;
    padding: 5px;
}

.add-background {
    background-color: #c8a8e8;
}