.wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: #908993 1px solid;
    background-color: #929193;
}

.user-text {
    border-color: aliceblue;
}

.add {
    background-color: #8eec84;
    color: #100f0f;
}

.del {
    background-color: #7aea7a;
    color: #070707;
}

.box-list {
    background-color: #b5ec9f;
}

li {
    border: #90e382 1px solid;
    border-radius: 2px;
    margin: 0 10px 10px;
    padding: 5px;
}

.add-background {
    background-color: #cee7c1;
}